def password():
    return 'notasecret'

def key():
    return 'TODO' #
#Simple API Access
#Use API keys to identify your project when you do not need to access user data. Learn more
#Key for browser apps (with referers)
#API key:
#https://code.google.com/apis/console/?noredirect#project:XXX:access
